@media screen and (max-width:700px) {
    .footer-icons {
      width: 0px;
      display: none;
    }
    .hidden {
        display: none;
    }
    .login-holder {
        padding-top: 0;
    }
  }
  @media screen and (min-width:700px) {
    .footer-icons {
      display: block;
    }
    .hidden {
        display: block;
    }
    .login-holder {
        padding-top: 15vh;
    }
  }

 
.footer {
    position: fixed;
    background-color: #263d55;
    bottom: 0;
    clear: both;
    float: none;
    color: white;
    width: 100vw;
    height: 9em;
    padding-left: 3vw;
    padding-top: 2em;
}
.blank-div {
    position: relative;
    height: 9em;
    width: 100vw;
    clear: both;
    float: none;
}
.footer-icon {
    width: 5em;
    height: 5em;
    opacity: 0.4;
    margin-right: 2em;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}
.footer-icon:hover {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

.login {
    height: 70vh;
    width: 100vw;
    margin-left: 0px;
}
.login-splash {
    background-image: url('images/login-splash.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
}
.card-center {
    margin-left: auto;
    margin-right: auto;
    float: none; /* Added */
}
.fullLength {
    width: 90%;
}
.btn-white {
    background-color: #4582EC;
    border: 1px solid white;
    color: white;
}
.btn-white:hover {
    background-color: white;
    color: #4582EC;
}
.btn-white:active {
    background-color: lightgray;
    color: #4582EC;
}
.white-link {
    color: white;
}
.white-link:hover {
    color: white;
}